.annypulare-navbar-container {
    padding-left: 40px;
    height: 150px;
    background-color: #363434;
}

.main-menu {
	display: flex;
	font-size: 18px;
	width: 380px;
	justify-content: space-between;
}

.main-menu a {
	color: rgba(255, 255, 255, 0.5);
}

.main-menu a:hover {
	color: #fff;
}

.annypulare-nav-logo-icon img {
	width: 200px;
	height: auto;
}
