.annypulare-form-cad-ficha-tecnica-container {
    width: 100%;
}

.annypulare-form-cad-ficha-tecnica-form {
    width: 100%;
}

.annypulare-form-cad-ficha-tecnica-add-ingrediente button {
    height: 50px;
    width: 200px;
    margin-left: 20px;
}

.annypulare-form-cad-ficha-tecnica-add-ingrediente {
    display: flex;
    width: 100%;
}

.annypulare-form-cad-ficha-tecnica-list-ingrediente {
    padding: 10px;
}

.annypulare-form-cad-ficha-tecnica-li {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.annypulare-form-cad-ficha-tecnica-li + .annypulare-form-cad-ficha-tecnica-li {
    margin-top: 5px;
    border-top: 1px solid #8e9397;
    padding-top: 5px;
}

.annypulare-form-cad-ficha-tecnica-list-ingrediente button {
    margin-left: 20px;
}

.categoria-select__control {
    border-radius: 10px !important;
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263238;
    height: 50px;
    width: 250px;
}

.categoria-select__placeholder {
    color: #9e9e9e !important;
}

.categoria-select__indicator-separator {
    display: none;
}

.form-cad-produto-insumo {
    width: 300px;
}