@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.annypulare-form-box {
  background-color: #d8dde2;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.annypulare-form-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.base-input {
  border-radius: 10px;
  font-size: 1em;
  letter-spacing: -0.015em;
  color: #263238;
  height: 50px;
  margin-bottom: 10px;
}
 
.base-input::placeholder {
  color: #9E9E9E;
}