.annypulare-form-cad-insumo-form {
    width: 100%;
}

.unidade-medida-select__control {
    border-radius: 10px !important;
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263238;
    height: 50px;
    width: 200px;
    margin-bottom: 10px;
}

.unidade-medida-select__placeholder {
    color: #9e9e9e !important;
}

.unidade-medida-select__indicator-separator {
    display: none;
}